*{
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100vh;
}

header,footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
}


a:hover{
    text-decoration: underline;
}

header{
    height: 12em;
}

header h1{
    font-family: "Passion One", sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
}

header a, footer a{
    text-decoration: none;
    color: white;
}

main{
    background-color: white;
    font-family: 'sriracha', cursive;
}

main p{
    padding-bottom: 1em;
    font-size: 3.5vw;
    line-height: 2em;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.bg-fundo{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.562);
}



.bg-fundo p{
    padding: 0 40px;
    display: inline-block;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.323);
    color:white;
    text-shadow: 1px 1px 0px black;
}

#joaninha{
    background-image: url(imagens/background001.jpg);
}
#papel{
    background-image: url(imagens/background002.jpg);
}

footer{
    height: 2.5em;
}



